
body {
    font-family: Verdana, sans-serif; 
    overflow-x: hidden;
}
div {
  display: block;
}
div {
  display: block;
}
.image {
  width: 1520px;
  height: 600px;
  border-style: none;
  width: 100%!important;
  display: block!important;
  

}

.bar{
    position: absolute;
    width: 1700px;
    height: 80px;
    background-color: #686565;
    margin-top: 20px;
}
.page{
    position: absolute;
    margin-top: 20px;
    padding-left: 70px;
    left: 4%;
}
.brand{	
    font-family: monospace;
    font-size: 24px;
    text-align: center;
    color:#615959;			
    display: inline;
    background-color:  rgb(248, 248, 248);
    border-radius: 5px;
    margin: 80px 100px 0px 15px;
    margin-right: 100px;
    padding:5px 20px
    }
.brand:hover{
    font-weight:bolder;
}
.brand,span{
  margin-left: 18px;
  margin-right: 10px;
}
.search{
	position: absolute;
	top: 10px;
	width: 40px;
	height: 40px;
	right: 130px;
}
.top{
	position: absolute;
	top: 10px;
	width: 40px;
	height: 40px;
	right: 75px;
}
.vip{
	position: absolute;
	width: 40px;
	height: 40px;
	top: 10px;
	right: 10px;
}