
body {
    font-family: Verdana, sans-serif; 
    overflow-x: hidden;
    width: 1520px;
}
div {
  display: block;
}
div {
  display: block;
}
.image {
  width: 1520px;
  height: 600px;
  border-style: none;
  width: 100%!important;
  display: block!important;
  

}

.bar{
    position: absolute;
    width: 1520px;
    height: 80px;
    background-color: #686565;
    margin-top: 20px;
}
.page{
    position: absolute;
    margin-top: 20px;
    padding-left: 70px;
    left: 4%;
}
.brand{	
    font-family: monospace;
    font-size: 24px;
    text-align: center;
    color:#615959;			
    display: inline;
    background-color:  rgb(248, 248, 248);
    border-radius: 5px;
    margin: 80px 100px 0px 15px;
    margin-right: 100px;
    padding:5px 20px
    }
.brand:hover{
    font-weight:bolder;
}
.brand,span{
  margin-left: 18px;
  margin-right: 10px;
}
.search{
	position: absolute;
	top: 10px;
	width: 40px;
	height: 40px;
	right: 130px;
}
.top{
	position: absolute;
	top: 10px;
	width: 40px;
	height: 40px;
	right: 75px;
}
.vip{
	position: absolute;
	width: 40px;
	height: 40px;
	top: 10px;
	right: 10px;
}
.hot{
  position: absolute;
  width: 1700px;
  height:800px;
  background-color:black ;
  margin-top: 100px;

}



.a{
  position: absolute;
  left: 25%;
  margin-top: -1%;
  overflow: auto;
  display: flex;
  margin-left: -20%;
}

.aa{
  position: relative;
  width: 200px;
  height: 200px;
  margin-left: 30px;
  margin-right: 40px;
  transition: all .15s ease-out;
  transform:scale(1,1);
}
.aa:hover{
  transform:scale(1.1,1.1);
}
.a p{
  margin-top: 30px;
  margin-right:30px ;
  width: 250px;
  font-size: 14px;
  top: 250px;
  color: white;
}
.pop{
  text-align: center;
  margin-top: 30px;
  margin-left: -7%;
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

#shopping-cart-detail{
	display: none;
	position: absolute;
	top:50px;
	right: 0;
	height: calc(100% - 50px);
	width: 300px;
	background-color: rgba(255,255,255,0.8);
    z-index: 99;
}

.detail-container{
	display: flex;
	flex-direction: column;
}

.beautiful-button{
	border:0;
	border-radius: 5px;
	background-color: skyblue;
	text-align: center;
	margin-top: 30px;
	padding:5px;
	width: 100px;
	height: 40px;
	
}

.product-in-cart{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.product-in-cart img{
	position: relative;
    width: 150px;
    height: 150px;
    margin-right: 50px;
    transition: all .15s ease-out;
    transform:scale(1,1);
}

.detail-button-container{
	display: flex;
	justify-content: space-around;
}

.pay-title{
	        width:100%;
	    	height:100px;
	    	line-height:100px;
	    	font-size:32px;
	    	font-weight:500;
	    	text-align:center;
}

.pay{
	width:80%;
	margin-right:auto;
	margin-left:auto;
	margin-top:120px;
}

.pay-inside{
	display:flex;
}
.pay-table{
	width:48%;
	text-align:center;
	margin-right:1%;
	margin-left:1%;

}
.pay-table table{
	width:100%;
}
.pay-table table th{
	border-bottom:1px solid black;
	width:33.333333333%;
	font-size:22px;
}
.pay-table table td{
	font-size:18px;
}
.pay-main{
	width:48%;
	text-align:center;
	margin-right:1%;
	margin-left:1%;
}
.pay-main table{
	width:100%;
}
.pay-main th{
	font-size:24px;
	width:40%;
	padding:10px;
}
.pay-main .border-bottom{
	border-bottom:1px solid #696969;
}
.pay-select{
	margin-top:10px;
	text-align:left;
}
.pay-select > p{
	font-size:20px;
	width:100%;
	background-color:#F5F5F5;
	padding:5px;
}
.pay-main .location,.deliver,.pay{
	display:flex;
	margin-top:5px;
}
.pay-main .location,.deliver,.pay p{
	padding:5px;
	font-size:18px;
}
.pay-main .location input{
	margin-left:60px;
	height:30px;
	font-size:15px;
}
.pay-main .deliver select{
	margin-left:24px;
	height:30px;
	font-size:15px;
}
.pay-main .pay select{
	margin-left:18px;
	height:30px;
	font-size:15px;
}
.pay-main .buy-now{
	border-top:1px solid black;
	padding-top:10px;
	text-align:center;
}
.pay-main .buy-now input{
	width:240px;
	height:40px;
	font-size:20px;
	color:white;
	font-weight:500;
	background-color:#228B22;
}
