
.a{
    position: absolute;
    left: 23%;
    margin-top: 5%;
    overflow: auto;
    display: flex;
}

.aa{
    position: relative;
    width: 250px;
    height: 250px;
    margin-right: 30px;
    transition: all .15s ease-out;
    transform:scale(1,1);
}
.aa:hover{
    transform:scale(1.1,1.1);
}
.a p{
   width: 250px;
    font-size: 14px;
    top: 250px;
    
}
.money{
    font-size: 10px;
    color: rgb(82, 79, 79);
}
form{
    position: absolute;
    top: 15%;
    left: 60%;
    
}
form h2{
    width: 525px;
}
.color{
	margin-bottom:20px;
}

.select{
	height:50px;
	width:100px;
	border:2px solid black;
	border-radius:5px;
	margin:0 5px 8px 0;
	outline:none;
	background-color:rgb(248, 248, 248);
}

.select:focus{
	outline:0;
	background-color:rgb(71, 67, 67);
	color:white;
	font-weight:bolder;
}
.amount{
	margin-bottom:20px;
	position:relative;
}
.q {
	width: 130px;
	height: 55px;
	text-align: center;
	border: 0;
	border: 2px solid black;
}
.pm {
    font-size: 30px;
	width: 50px;
	height: 50px;
	border: 2px solid black;
	background: #fff;
	border-radius:5px;
}
.pm:active{
	background-color:rgb(71, 67, 67);
}
.pm:focus{
	outline:0;
}
.pm {
	width: 50px;
	height: 50px;
	border: 2px solid black;
	background: #fff;
	border-radius:5px;
}


button.car{
	height:50px;
	width:230px;
	margin-right:40px;
	margin-bottom:15px;
	margin-top:45px;
	margin-left:0;
	background-color:white;
	border:2px solid black;
	border-radius:0.5rem;
	padding: 0px;
	font-size:20px;
	outline:none;
	transition:0.3s;
}
button.car:focus{
	outline:0;
}
button.car:hover{
	background-color: rgb(71, 67, 67);
	color:#FFFFFF;
	font-weight:bolder;
}

.tab {
  	overflow: hidden;
  	border-top: 2px solid #ccc;
  	border-bottom: 2px solid #ccc;
}


