
.a{
    position: absolute;
    left: 23%;
    margin-top: 5%;
    overflow: auto;
    display: flex;
}

.aa{
    position: relative;
    width: 250px;
    height: 250px;
    margin-right: 30px;
    transition: all .15s ease-out;
    transform:scale(1,1);
}
.aa:hover{
    transform:scale(1.1,1.1);
}
.a p{
   width: 250px;
    font-size: 14px;
    top: 250px;
    
}
.money{
    font-size: 10px;
    color: rgb(82, 79, 79);
}
.search{
	position: absolute;
	top: 10px;
	width: 40px;
	height: 40px;
	right: 130px;
}
.top{
	position: absolute;
	top: 10px;
	width: 40px;
	height: 40px;
	right: 75px;
}
.vip{
	position: absolute;
	width: 40px;
	height: 40px;
	top: 10px;
	right: 10px;
}
form{
    position: absolute;
    top: 15%;
    left: 60%;
    
}
form h2{
    width: 525px;
}
.color{
	margin-bottom:20px;
}

.select{
	height:50px;
	width:100px;
	border:2px solid black;
	border-radius:5px;
	margin:0 5px 8px 0;
	outline:none;
	background-color:rgb(248, 248, 248);
}

.select:focus{
	outline:0;
	background-color:rgb(71, 67, 67);
	color:white;
	font-weight:bolder;
}
.amount{
	margin-bottom:20px;
	position:relative;
}
.q {
	width: 130px;
	height: 55px;
	text-align: center;
	border: 0;
	border: 2px solid black;
}
.pm {
    font-size: 30px;
	width: 50px;
	height: 50px;
	border: 2px solid black;
	background: #fff;
	border-radius:5px;
}
.pm:active{
	background-color:rgb(71, 67, 67);
}
.pm:focus{
	outline:0;
}
.pm {
	width: 50px;
	height: 50px;
	border: 2px solid black;
	background: #fff;
	border-radius:5px;
}


button.car{
	height:50px;
	width:230px;
	margin-right:40px;
	margin-bottom:15px;
	margin-top:45px;
	margin-left:0;
	background-color:white;
	border:2px solid black;
	border-radius:0.5rem;
	padding: 0px;
	font-size:20px;
	outline:none;
	transition:0.3s;
}
button.car:focus{
	outline:0;
}
button.car:hover{
	background-color: rgb(71, 67, 67);
	color:#FFFFFF;
	font-weight:bolder;
}

.tab {
  	overflow: hidden;
  	border-top: 2px solid #ccc;
  	border-bottom: 2px solid #ccc;
}
.slideshow{
	width: 400px;
	height: 400px;
	position: absolute;
	margin: auto;
	margin-top: 3%;
	margin-bottom: 3%;
	top: 10%;
	left: 25%;
	
  }
  
  /* Next & previous buttons */
  .prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 2px 2px 0;
	user-select: none;
  }
  
  
  .next {
	right: 0;
	border-radius: 2px 0 0 2px;
  }
  
  
  
  
  
  .text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
  }
  
  
  .numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }
  
  
.dott{
	position: absolute;
	top: 80%;
	left: 35%;
}
  .dot {
	
	top: 30%;
	cursor: pointer;
	height: 15px;
	width: 15px;
	
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
	background-color: #717171;
  }
  
  
  .fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }
  
  @keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }
  
  
  @media only screen and (max-width: 300px) {
	.prev, .next,.text {font-size: 12px}
  }
.salepage{
	width: 1200px;
}
.b{
	position: absolute;
	left: 23%;
    margin-top: 30%;
    overflow: auto;
}
.b p{
	width: 250px;
	 font-size: 14px;
	 top: 250px;
	 
 }


