body{
	overflow-x: hidden;
}
.a{
    position: absolute;
    left: 23%;
    margin-top: 5%;
    overflow: auto;
    display: flex;
}

.aa{
    position: relative;
    width: 250px;
    height: 250px;
    margin-right: 30px;
    transition: all .15s ease-out;
    transform:scale(1,1);
}
.aa:hover{
    transform:scale(1.1,1.1);
}
.a p{
   width: 250px;
    font-size: 14px;
    top: 250px;
    
}
.money{
    font-size: 10px;
    color: rgb(82, 79, 79);
}
.search{
	position: absolute;
	top: 10px;
	width: 40px;
	height: 40px;
	right: 130px;
}
.top{
	position: absolute;
	top: 10px;
	width: 40px;
	height: 40px;
	right: 75px;
}
.vip{
	position: absolute;
	width: 40px;
	height: 40px;
	top: 10px;
	right: 10px;
}
form{
    position: absolute;
    top: 15%;
    left: 60%;
    
}
form h2{
    width: 525px;
}
.color{
	width: 500px;
	margin-bottom:20px;
	
}

.select{
	height:50px;
	width:100px;
	border:2px solid black;
	border-radius:5px;
	margin:0 5px 8px 0;
	outline:none;
	background-color:rgb(248, 248, 248);
}

.select:focus{
	outline:0;
	background-color:rgb(71, 67, 67);
	color:white;
	font-weight:bolder;
}

.amount{
	margin-bottom:10px;
	position:relative;
}
.mqty{
	font-size: 20px;
	width: 50px;
	height: 50px;
	background-color: white;
	border:2px solid black;
	border-radius: 5px;
}
.pqty{
	font-size: 20px;
	width: 50px;
	height: 50px;
	background-color: white;
	border:2px solid black;
	border-radius: 5px;
}
.qty{
	font-size: 20px;
	width: 100px;
	height: 50px;
	text-align: center;
	border:2px solid black;
	border-radius: 5px;
}
button.car{
	height:50px;
	width:230px;
	margin-right:40px;
	margin-bottom:15px;
	margin-top:45px;
	margin-left:0;
	background-color:white;
	border:2px solid black;
	border-radius:0.5rem;
	padding: 0px;
	font-size:20px;
	outline:none;
	transition:0.3s;
}
button.car:focus{
	outline:0;
}
button.car:hover{
	background-color: rgb(71, 67, 67);
	color:#FFFFFF;
	font-weight:bolder;
}


.tab {
  	overflow: hidden;
  	border-top: 2px solid #ccc;
  	border-bottom: 2px solid #ccc;
}
.slideshow{
	width: 400px;
	height: 400px;
	position: absolute;
	margin: auto;
	margin-top: 3%;
	margin-bottom: 3%;
	top: 10%;
	left: 25%;
	
}
  
 
  .prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 2px 2px 0;
	user-select: none;
  }
  
  
  .next {
	right: 0;
	border-radius: 2px 0 0 2px;
  }
  
  
  
  
  
  .text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
  }
  
  
  .numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }
  
  
.dott{
	position: absolute;
	top: 85%;
	left: 35%;
}
  .dot {
	
	top: 30%;
	cursor: pointer;
	height: 15px;
	width: 15px;
	
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
	background-color: #717171;
  }
  
  
  .fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }
  
  @keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }
  
  
  @media only screen and (max-width: 300px) {
	.prev, .next,.text {font-size: 12px}
  }
.salepage{
	width: 1200px;
}
.b{
	position: absolute;
	left: 23%;
	margin-top: 30%;
	overflow: auto;
	display: flex;
}
.b p{
	width: 250px;
	 font-size: 14px;
	 top: 250px;
	 
 }
.size{
	width: 500px;
}
#shopping-cart-detail{
	display: none;
	position: absolute;
	top:50px;
	right: 0;
	height: calc(100% - 50px);
	width: 350px;
	background-color: rgb(46, 43, 43);
    z-index: 99;
}

.detail-container{
	display: flex;
	flex-direction: column;
}

.beautiful-button{
	border:solid 3px;
	border-radius: 5px;
	border-color: white;
	background-color: rgb(14, 13, 12);
	text-align: center;
	color: white;
	font-size: 18px;
	margin-top: 30px;
	padding:5px;
	width: 250px;
	height: 40px;
	
}

.product-in-cart{
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}

.product-in-cart img{
	position: absolute;
    width:75px;
    height: 75px;
    margin-left: 10px;
    transition: all .15s ease-out;
	transform:scale(1,1);
	

}

.detail-button-container{
	display: flex;
	justify-content: space-around;
}

.text1{
	position: absolute;
	top: 100%;
	left: 25%;
	width: 1700px;
	height: 600px;
	padding: 25px;
	font-size: 20px;
	
}
.text1 textarea{
	width: 300px;
	height: 100px;
}
.rating {
	position: absolute;
	top:70%;
	left: 50%;
	transform: translate(-50%,-50%) rotateY(180deg);
	display: flex;
}
.rating input{display:none;}
.rating label{
	display: block;
	cursor: pointer;
	width: 30px;
	background:rgba(255, 255, 255, 0);

}
.rating label:before
{
	content:'★';
	position: relative;
	display: block;
	font-size: 30px;
	color: #000;
}
.rating label:after
{
	content:'★';
	position: absolute;
	display: block;
	font-size: 30px;
	color: rgb(245, 199, 50);
	top: 0;
	
	opacity: 0;
	transition: .3s;
	text-shadow: 0 ;
}
.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after
{opacity: 1;}

.detail{
	position: absolute;
	left: 25%;
	top: 90%;
    margin-top: 5%;
    display: flex;
}
.c{
	position: absolute;
	left: 23%;
	margin-top: 55%;
	overflow: auto;
	display: flex;
}
.c p{
	width: 250px;
	 font-size: 14px;
	 top: 250px;
	 
}

.vipcard{
	width: 250px;
	height: 180px;
}

.first{
	margin-left: 700px;
}

.headME{
	padding: 20px 20px;
	border:1px solid #747271;
}


.mySlidespaper{
width: 400px;
height: 625px;
margin-top:-145px ;
margin-left:500px;
position: absolute;
}


.trade{
	width:70%;
	height:auto;
	margin-right:300px;
	margin-left:300px;
	margin-top:50px;
	margin-bottom:50px;
}
.trade-title{
	height:60px;
	line-height:60px;
	font-size:32px;
	font-weight:500;
	text-align:center;
	background-color:#fff;
}
.trade-main{
	background-color:#fff;
	height:400px;
	border-bottom:1px solid black; 
}

.trade-1{
	margin-top:5px;
}
.trade-1 table{
	width:100%;
	text-align:center;
	font-size:18px;
}
.trade-1 table th{
text-decoration:underline;
}

#search{
	display: none;
}
#button input[type="radio"] {
	display: none;
	
}
#button label{
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}

#button span {
	display: inline-block;
	padding: 10px;
	text-transform: uppercase;
	border: 2px solid black;
	border-radius: 3px;
	color: black;
}
  
#button input[type="radio"]:checked + span {
	background-color: #696969;
	color: black;
	
}
#search{
	font-size: 16px;
	display: none;
	height: 30px;
	position: absolute;
	top: 12px;
	margin-left: 1100px;
	background-color:white;
	border:solid 3px #615959;
	outline: none;
}
.text{
	position: absolute;
	top: 100%;
	left: 25%;
	width: 1700px;
	height: 50px;
	padding: 25px;
	font-size: 18px;
	color: #000;
	border: black;
	
}
.table1{
	position: absolute;
	left: 35%;
	padding: 10px;
	border-style: dashed;
	margin-bottom: 30px;
	font-size: 18px;
	border-radius: 20px;
	
}
.error{
	border-style: dashed;
	border-radius:20px ;
	font-weight: bolder;
	font-size: 18px;
	padding-left: 10px; 
	outline: none;
}
.error:hover{
	border-style: dotted;
}
.sub{
	margin-right: 20px;
	border: none;
	border-radius: 20px;
	padding: 5px 15px;
	outline: none;
	font-size: 20px;
}
.sub:hover{
	background-color: #ddd;
	color: rgb(114, 144, 241);
	font-weight: bolder;
}
.sub:active{
	transform: translateY(4px);
}
tr,td{
	font-weight: bolder;
	padding: 10px 20px;
}
td:hover{
	color: #696969;
}
.table2{
	position: absolute;
	left: 30%;
	padding: 10px;
	font-size:18px ;
	border-radius: 20px;
}
.pay{
	position: absolute;
	width: 1000px;
	right: 0;
	height: 150px;
	background-color: rgb(207, 202, 202);
}
.pay h1{
	fon
}